/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    /* The image used */
    background-image: url("https://images.pexels.com/photos/1482927/pexels-photo-1482927.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    /* Full height */
    width: auto;
    /* Center and scale the image nicely */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto;
 }
